.service-heading{
    font-size: 50px;
}

.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.service-div{
    background-color: rgb(234, 255, 232);
}


   /* Responsive styles */
@media only screen and (max-width: 698px) {
    .services{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}